nav {
    text-align: center;
}
h1 {
    color: whitesmoke;
    text-align: center;
    position: relative;
    align-items: center;
    left: 37%;    
}
.col-sm-4 {
    margin: 0px;
}
.container-sm {
    margin: 0px;
    max-width: 1600px;                    
}
.top {
    background-color: black;
}
#weather-dashboard {
    border: 1px solid lightgray;
    margin-top: 2px;
}